{% extends "layout.html" %}
{% block content %}
<p>{{ game_state_description(gs) }}</p>
<table class="board">
	{% for y in range(3) %}
	<tr>
		{% for x in range(3) %}
		{% if is_it_my_turn and gs.is_ongoing() and is_cell_empty(gs, x, y) %}
		<td class="empty" onclick="window.location.href = '{{url_for('make_move', game_id=gs.id, x=x, y=y)}}';">
			&nbsp;
		{% else %}
		<td>
			{{ cell_contents(gs, x, y)|safe }}
		{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% if gs.is_ongoing() %}
<script>
{% if is_it_my_turn %}
var itIsMyTurn = true;
{% else %}
var itIsMyTurn = false;
{% endif %}
</script>
{% else %}
<a href="{{url_for('end_game')}}">End the game.</a>
{% endif %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}