{% extends "layout.html" %}
{% block title %}Registration form{% endblock %}
{% block content %}
<h1>Register a new user</h1>
<form method="POST" action="{{ url_for('register_with_errors') }}">
{% if form.errors %}
    <ul class="form-errors alert alert-danger">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
    {{ form.hidden_tag() }}
	{{ form.name.label() }}
	{{ form.name(placeholder="Jimmy") }}
    <br/>
	{{ form.email_address.label() }}
	{{ form.email_address(placeholder="jimmy@jimmy.org") }}
    <br/>
	{{ form.birthday.label() }}
	{{ form.birthday(placeholder="25-05-1971") }}
    <br/>
	<button type="submit">Submit</button>
</form>
{% endblock %}